__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
downloads/
lib/
lib64/
var/
wheels/

venv/
env/
ENV/
.env
.venv



.vscode/
.DS_Store

.env

.pytest_cache/

.Python
build/
downloads/

wheels/

